<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Room Request Results</title>
<link href="../static/css/submissionform.css"
	th:href="@{css/submissionform.css}" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="inputArea">
		<h1>The Room is Free All Day!</h1>
		<p
			th:text="'Building: ' +  ${roomrequest.getBuildingName()} + ' ' + ${roomrequest.getRoomNumber()}" />
		<a href="/">Search for another room</a>
	</div>
</body>
</html>