<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Where is Every1?</title>
<link href="../static/css/submissionform.css"
	th:href="@{css/submissionform.css}" rel="stylesheet" type="text/css" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="/">WhereIsEvery1?</a>

		<!-- Links -->
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link"
				href="html/aboutUs.html">About Us</a></li>
		</ul>
	</nav>

	<div class="messageArea">
		<h1>The Room is Free All Day!</h1>
		<p
			th:utext="'Building: ' +  ${roomrequest.getBuildingName()} + '<br />' + 'Room: ' + ${roomrequest.getRoomNumber()}" />
		<a href="/">Search for another room</a>
	</div>
</body>
</html>
